language: go
go:
  - 1.13.x
git:
  depth: 1
install: true
notifications:
  email: false
before_script:
  - go install github.com/golangci/golangci-lint/cmd/golangci-lint
script:
  - golangci-lint run --skip-files ".*.pb.go"
  - make test
