kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
networking:
  ipFamily: ipv4
nodes:
- role: control-plane
  kubeadmConfigPatchesJSON6902:
  - kind: ClusterConfiguration
    patch: |
      - op: add
        path: /apiServer/certSANs/-
        value: konnectivity-server.kube-system.svc.cluster.local
  kubeadmConfigPatches:
  - |
    kind: ClusterConfiguration
    apiServer:
      extraArgs:
        "egress-selector-config-file": "/etc/kubernetes/konnectivity-server-config/egress_selector_configuration.yaml"
      extraVolumes:
      - name: egress-selector-config-file
        hostPath: "/etc/kubernetes/konnectivity-server-config/egress_selector_configuration.yaml"
        mountPath: "/etc/kubernetes/konnectivity-server-config/egress_selector_configuration.yaml"
        readOnly: true
      - name: konnectivity-server
        hostPath: "/etc/kubernetes/konnectivity-server"
        mountPath: "/etc/kubernetes/konnectivity-server"
        readOnly: true
  extraMounts:
  - hostPath: ./egress_selector_configuration.yaml
    containerPath: /etc/kubernetes/konnectivity-server-config/egress_selector_configuration.yaml
- role: worker
- role: worker
