name: golangci-lint
on:
  push:
    branches:
      - master
      - release-0.31
      - release-0.32
  pull_request:

permissions:
  contents: read

env:
  GO_VERSION: v1.24.3
  GOLANGCI_LINT_VERSION: v2.1.6

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
          args: --verbose
