name: golangci-lint
on:
  push:
    branches:
      - master
      - release-0.31
  pull_request:

permissions:
  contents: read

env:
  GO_VERSION: v1.22
  GOLANGCI_LINT_VERSION: v1.56

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
          args: --verbose
